.ant-input-number{
    background-color: #f5f5f5; /* Màu nền khi bị disable */
    color: green;
    font-size: 140px;
    width: 150px;
  }

.buttonStart {
    display: flex;
    height: fit-content;
    width: fit-content;
    font-size: 50px;
}